@model IEnumerable<Lab5.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.pName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imgProduct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.categoryName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.pName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.imgProduct)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.categoryName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
